
/* common */
body {
    opacity: 0;
}
.form-wrapper {
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}
.content_title {
    padding-left: var(--bs-card-spacer-x);
    border-bottom: 1px solid var(--bs-border-color);
    font-size: 15px;
}
.alert{
    width: 90%;
    top: 10px;
    z-index: 2;
    transform: translateX(-50%);
    left: 50%;
}
.alert-message{
    font-family: var(--bs-body-font-family);
}
.search-area{
    display: none;
}
.choices__button{
    margin-right: 0px !important;
}
.w-35{
    width: 35%;
}
.w-250{
    width: 250px;
}
.min-130{
    min-width: 130px;
}
.min-100{
    min-width: 100px;
}
.min-200{
    min-width: 200px;
}
.max-650{
    max-width: 650px;
}
.w-170{
    width: 170px;
}
.min-70vh{
    min-height: 70vh;
}
.w-100px{
    width: 100px !important;
}
.mt-01{
    margin-top: 0.1rem;
}
.ml-025{
    margin-left: 2.5%;
}
.mr-025{
    margin-right: 2.5%;
}
.p-025{
    padding: 2.5%;
}
/* table */
.table_list a{
    color: currentcolor;
}
.table_list{
    margin: auto;
    border: 1px solid var(--bs-border-color) !important;
}
.table_list thead{
    background: #e5e5e5;
}
table{
    word-break: keep-all;
}
.w-95{
    width: 95%;
    overflow: auto;
}
.sp-pagenation{
    display: none !important;
}
.pc-none{
    display: none !important;
}
/* input */
input.timepicker {
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: .3rem .85rem;
    color: #495057;
}
.search-select{
    margin-left: 2.5%;
}
.readonly-select {
    background-color: #e9ecef; 
    pointer-events: none; 
    touch-action: none; 
}
/* header */
.sidebar-toggle{
    display: none;
}

/* 各画面 */
#login .container{
    overflow-x: hidden;
}
#event .card button,
#management .card button,
#survey .card button{
    margin-right: 2.5%;
}
#event .card .button-div
#survey .button-div{
    margin-right: 2.5%;
}
#event .card .button-div button,
#management .card .button-div button{
    margin-right: auto;
}
.card{
    box-shadow: initial;
}
#upload .search-button{
    height: 32.59px;
}
/* survey */
#survey table{
    text-wrap: wrap;
}
#survey table th{
    min-width: 220px;
    vertical-align: middle;
}
/* sidebar */
.side_break {
    display: inline-block;
    margin-top: 3px;
    margin-left: 0.8rem;
    margin-bottom: 0px;
}
.button-hex {
    font-size: 14px;
    line-height: 40px;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 42px;
    transition: all 0.1s ease-in-out;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: rgb(165, 165, 165);
    position: absolute;
    top: 50vh;
    left: -8rem;
    z-index: 1;
}
/* event */
.repeatedly_area{
    display: none;
}
.input_name{
    display: none;
}
#thumbnailPreviewContainer{
    max-width: 9rem;
}
/* 講義動画読込 */
#movie_img{
    width: 100%;
    max-width: 1000px;
    display: none;
}
#movie_video{
    width: 100%;
    max-width: 1000px;
    aspect-ratio: auto 320/420;
    display: none;
}
/* QR読込 */
video#qr-video {
    width: 200px; 
    height: 200px; 
    object-fit: cover;
}
.qr-frame {
    position: relative;
    width: 250px;
    height: 250px; 
    border: 4px solid transparent; 
}
.qr-frame .top-left,
.qr-frame .top-right,
.qr-frame .bottom-left,
.qr-frame .bottom-right {
    position: absolute;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: #3B7DDD;
}
.qr-frame .top-left {
    top: 0;
    left: 0;
    border-width: 4px 0 0 4px; 
}
.qr-frame .top-right {
    top: 0;
    right: 0;
    border-width: 4px 4px 0 0; 
}
.qr-frame .bottom-left {
    bottom: 0;
    left: 0;
    border-width: 0 0 4px 4px;
}
.qr-frame .bottom-right {
    bottom: 0;
    right: 0;
    border-width: 0 4px 4px 0; 
}
.video-container {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.scan-text {
    /* color: #00bcd4; */
    color: #3B7DDD;
}
#qr_card .modal-dialog {
    position: fixed;  
    top: 50%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 80%;
}
#qr_card .card{
    height: 400px;
}

/* カテゴリーマスタ */
#category_preview_container{
    width: 100%;
    max-width: 300px;
}
#category_preview{
    width: 100%; 
    height: auto; 
    object-fit: cover;
}
#category_img_button{
    top: 10px; 
    right: 10px;
}

/* レスポンシブ  QR*/
@media (min-width: 600px) {
    video#qr-video {
        width: 400px; 
        height: 400px; 
        object-fit: cover;
    }
    .qr-frame {
        position: relative;
        width: 450px;
        height: 450px; 
        border: 4px solid transparent; 
    }
    #qr_card .card{
        height: 600px;
    }
}
@media (max-width: 992px) {
    /* upload */
    #upload .search-area .p-055{
        padding-top: 0px !important;
    }
    .sidebar-toggle{
        display: flex;
    }
    .navbar {
        padding: 0.75rem 1.5rem;
    }
    .navbar-nav{
        display: none;
    }
    .header-title{
        margin-left: 1rem !important;
    }
    .sp-block{
        display: block !important;
    }
    .sp-none{
        display: none !important;
    }
    .pc-none{
        display: block !important;
    }
    .sp-ms-0{
        margin-left: 0px !important;
    }
    .sp-mb-3{
        margin-bottom: 1rem;
    }
    .sp-mb-4{
        margin-bottom: 1.5rem !important;
    }
    .p-055{
        padding: 5.5% !important;
    }
    .sp-w-50{
        width: 50% !important;
    }
    .sp-w-35{
        width: 35% !important;
    }
    .sp-w-100{
        width: 100% !important;
    }
    .pc-pagenation{
        display: none !important;
    }
    .sp-pagenation{
        display: flex !important;
    }
    .sp-form-label{
        margin-bottom: 0.5rem !important;
    }
}